// Menu Toggle Button
button.navigation-toggle(class="hamburger hamburger--spring" type="button")
  span.navigation-toggle__box(class="hamburger-box")
    span.navigation-toggle__inner(class="hamburger-inner")