// Footer-details
.footer-details
  .footer-details__box
    .footer-details__item
      h3.footer-details__title Resources
      .footer-details__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .footer-details__item
      h3.footer-details__title About us
      .footer-details__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    .footer-details__item
      h3.footer-details__title Stay in touch
      .footer-details__text
        include ../footer-social/_footer-social