// Footer-newsletter
.footer-newsletter
  .footer-newsletter__title Stay in touch
  .footer-newsletter__content
    .footer-newsletter__inputbox
      input.footer-newsletter__input(placeholder="Name")
      input.footer-newsletter__input(placeholder="Email")
      button.footer-newsletter__submit Join Newsletter
    .footer-newsletter__text We don't send spam. Actually, who are we kiding we'll spam the shit out of your inbox.