//Logo
a.logo(href="#" title="Home Page")
  .logo__brand
    //img.logo__image(src="source/common/logo/src/logo.png" alt="Fitness")
  .logo__content
    .logo__title
      strong Drone
      |Zone
    .logo__text by MSOBIECKI

  //img.logo__customImage(src="source/common/logo/src/logo.png" alt="Fitness")