// Post
a.post(href="#").-special
  .post__imagebox(style="background-image: url('source/components/post/src/post-four.jpg')")
  .post__details
    img.post__brand(src="source/components/post/src/icon-fruit-three.png" alt="Brand")
    span.post__tag Track your
    h5.post__title Get Involed in yourself
    .post__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.

