// Post
a.post(href="#").-style-two
  .post__imagebox(style="background-image: url('source/components/post/src/post-two.jpg')")
  .post__details
    img.post__brand(src="source/components/post/src/icon-fruit-two.png" alt="Brand")
    span.post__tag Track your
    h5.post__title Lifestyle
    .post__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.

