// Post
a.post(href="#").-style-three
  .post__imagebox(style="background-image: url('source/components/post/src/post-five.jpg')")
    .post__labels
      span.post__label 24TH AUGUST
      span.post__label HEALTH & FITNESS
        img.post__icon(src="source/components/post/src/icon-label.png" alt="Label")
  .post__details
    img.post__brand(src="source/components/post/src/icon-fruit.png" alt="Brand")
    span.post__tag
    h5.post__title SUMMER OF FUN
    .post__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.

