// Header
header.header.js-header.-header-landingPage.-header-fixed
  .header__wrapper
    .header__content
      .header__container
        .header__box
          .header__item
            include ../logo/_logo
          .header__item
            include ../navigation/_navigation