// Halfbox
section.halfbox
  .halfbox__item
    .halfbox__imagebox(style="background-image: url('source/components/halfbox/src/halfbox-one.jpg')")
      a(href="https://www.youtube.com/watch?v=9ZfN87gSjvI").halfbox__hiperlink.js-halfbox-popup
        img.halfbox__hiperlinkButton(src="source/components/halfbox/src/play-button.png" alt="Play")
    .halfbox__content
      .halfbox__details
        h3.halfbox__title Nature from the air
        .halfbox__text Pellentesque eget nunc sit amet urna ullamcorper fermentum et eu leo. Nunc vel nibh tempor, pharetra lectus congue, luctus orci nec ultricies sem efficitur quis. Integer bibendum eget metus ac accumsan.
        .halfbox__navigation
          a.halfbox__button(href='#') Ask for price


  .halfbox__item
    .halfbox__imagebox(style="background-image: url('source/components/halfbox/src/halfbox-two.jpg')")
      a(href="https://www.youtube.com/watch?v=y1yFiotx3qk").halfbox__hiperlink.js-halfbox-popup
        img.halfbox__hiperlinkButton(src="source/components/halfbox/src/play-button.png" alt="Play")
    .halfbox__content
      .halfbox__details
        h3.halfbox__title Powerful <b> Performance </b>
        .halfbox__text Sed ut perspiciatis unde omnis iste nat error acus antium que. Asperiores, ea velit enim labore doloribus.
        .halfbox__navigation
          a.halfbox__button(href='#') Ask for price
