// Menu
ul.menu.js-menu
  li.menu__item
    a.menu__link(href="#") Home
    span.menu__dropdown <i class="material-icons -add">add</i> <i class="material-icons -remove">remove</i>
    ul.menu__submenu
      li.menu__subitem
        a.menu__sublink(href="#") About
      li.menu__subitem
        a.menu__sublink(href="#") About
      li.menu__subitem
        a.menu__sublink(href="#") About
      li.menu__subitem
        a.menu__sublink(href="#") About
      li.menu__subitem
        a.menu__sublink(href="#") About
      li.menu__subitem
        a.menu__sublink(href="#") About
  li.menu__item
    a.menu__link(href="#") About
    span.menu__dropdown <i class="material-icons -add">add</i> <i class="material-icons -remove">remove</i>
    ul.menu__submenu
      li.menu__subitem
        a.menu__sublink(href="#") About
      li.menu__subitem
        a.menu__sublink(href="#") About lorem ipsum el de sol
      li.menu__subitem
        a.menu__sublink(href="#") About
      li.menu__subitem
        a.menu__sublink(href="#") About
      li.menu__subitem
        a.menu__sublink(href="#") About
      li.menu__subitem
        a.menu__sublink(href="#") About
  li.menu__item
    span.menu__link(href="#") Pricing
    span.menu__dropdown <i class="material-icons -add">add</i> <i class="material-icons -remove">remove</i>
    ul.menu__submenu
      li.menu__subitem
        a.menu__sublink(href="#") About
      li.menu__subitem
        a.menu__sublink(href="#") About
      li.menu__subitem
        a.menu__sublink(href="#") About
      li.menu__subitem
        a.menu__sublink(href="#") About
      li.menu__subitem
        a.menu__sublink(href="#") About
      li.menu__subitem
        a.menu__sublink(href="#") About
  li.menu__item
    a.menu__link(href="#") Our drones
  li.menu__item
    a.menu__link(href="#") Our realiations
  li.menu__item
    a.menu__hiperlink(href="#") Contact