// Newsletter
.newsletter
  .newsletter__title Sign up for our newsletter
  form.newsletter__content
    .newsletter__inputbox
      input.newsletter__input(type="email" placeholder="Email address")
      button.newsletter__submit(type="submit") Send
