// Footer Social
.footer-social
  a.footer-social__item(href="#").-facebook <i class="fa fa-facebook"></i>
  a.footer-social__item(href="#").-twitter <i class="fa fa-twitter"></i>
  a.footer-social__item(href="#").-youtube <i class="fa fa-youtube-play"></i>
  a.footer-social__item(href="#").-linkedin <i class="fa fa-linkedin"></i>