// Map API
.map(data-location='{"lat": "53.763890", "lng": "20.520630"}' data-zoom="9" data-markers='[{"lat": "53.763890", "lng":"20.520630", "title": "Marker 1", "icon":"source/components/map/src/map.png" }, {"lat": "53.563890", "lng":"20.320630", "title": "Marker 2", "icon":"source/components/map/src/map.png"}]').js-map