// Posts
section.posts
  .posts__container
    .posts__box
      .posts__item
        include ../post/_post
      .posts__item
        include ../post/_post-two
      .posts__item
        include ../post/_post-three
      .posts__item.-large
        include ../post/_post-four
      .posts__item
        include ../post/_post-two
      .posts__item
        include ../post/_post
      .posts__item.-large
        include ../post/_post-five