// Features
section.features
  .features__container
    .features__box
      .features__item
        .features__icon
          img.features__image(src='source/components/features/src/features-one.png' alt='Feature One')
        h4.features__subtitle From air
        .features__text Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client groups. Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client group
      .features__item
        .features__icon
          img.features__image(src='source/components/features/src/features-two.png' alt='Feature Two')
        h4.features__subtitle Best drones
        .features__text Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client groups. Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client group
      .features__item
        .features__icon
          img.features__image(src='source/components/features/src/features-three.png' alt='Feature Three')
        h4.features__subtitle Speed
        .features__text Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client groups. Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client group
      .features__item
        .features__icon
          img.features__image(src='source/components/features/src/features-four.png' alt='Feature Four')
        h4.features__subtitle Long range
        .features__text Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client groups. Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client group
      .features__navigation
        a.features__button(href='#') Ask for price
