// Navigation
nav.navigation.js-navigation(role="navigation")
  .navigation__box
    .navigation__menu
      include ../menu/_menu
    .navigation__toggle
      include navigation-toggle/_navigation-toggle

