// Footer
footer.footer
  .footer__container
    .footer__box
      .footer__item
        include footer-details/_footer-details
      .footer__item
        include footer-newsletter/_footer-newsletter
