// Banner
.banner.js-banner.-banner-slick
  .banner__slider(data-slick='{"speed": 3000, "autoplaySpeed": 5000}')
    .banner__item
      .banner__image(style="background-image: url('source/components/banner/src/banner-two.jpg')")
      .banner__box
        .banner__content
          .banner__text
            h1 Film your event with us!
            p Pellentesque eget nunc sit amet urna ullamcorper fermentum et eu leo. Nunc vel nibh tempor, pharetra lectus congue, luctus orci.

            .banner__links
              a.banner__link(href='#') Ask for price
              a.banner__link(href='#') <i class="material-icons">play_arrow</i> Watch video
              a.banner__link(href='#') Ask for
              a.banner__link(href='#') Ask for pr
              a.banner__link(href='#') Ask for
              a.banner__link(href='#') Ask for pr

    a.banner__item(href="#").-banner-content-left
      .banner__image(style="background-image: url('source/components/banner/src/banner-two.jpg')")
      .banner__box
        .banner__content
          .banner__text
            h1 Film your event with us!
            p Pellentesque eget nunc sit amet urna ullamcorper fermentum et eu leo. Nunc vel nibh tempor, pharetra lectus congue, luctus orci.

    a.banner__item(href="#").-banner-content-right
      .banner__image(style="background-image: url('source/components/banner/src/banner-two.jpg')")
      .banner__box
        .banner__content
          .banner__text
            h1 Film your event with us!
            p Pellentesque eget nunc sit amet urna ullamcorper fermentum et eu leo. Nunc vel nibh tempor, pharetra lectus congue, luctus orci.


  span.banner__toggler(data-href="#contentPage" title="Przejdź dalej")
    img.banner__togglerImg(src="source/components/banner/src/scroll.png" alt="Toggle Down")
    span.banner__togglerText scroll down
  .banner__dots
  .banner__arrows