extends layout/_layout

block content
  include  components/banner/_banner

  // Content Blocks
  section.content__blocks#contentPage

    include components/features/_features

    //include components/posts/_posts

    //include components/abstract/_abstract