// Abstract
section.abstract.js-abstract
  .abstract__item(style="background-image: url(source/components/abstract/src/abstract-five.jpg)").-abstract-left.-abstract-bottom
    .abstract__container
      .abstract__details
        h2.abstract__title More power behind every pixel!
        .abstract__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.
        a.abstract__link(href="#") See the options <i class="material-icons">arrow_forward</i>
  .abstract__item(style="background-image: url(source/components/abstract/src/abstract-two.jpg)").-abstract-right.-abstract-top
    .abstract__container
      .abstract__details
        h2.abstract__title More power behind every pixel!
        .abstract__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.
        a.abstract__link(href="#") See the options <i class="material-icons">arrow_forward</i>
  .abstract__item(style="background-image: url(source/components/abstract/src/abstract-three.jpg)").-abstract-right.-abstract-bottom
    .abstract__container
      .abstract__details
        h2.abstract__title More power behind every pixel!
        .abstract__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.
        a.abstract__link(href="#") See the options <i class="material-icons">arrow_forward</i>
  .abstract__item(style="background-image: url(source/components/abstract/src/abstract-four.jpg)")
    .abstract__container
      .abstract__details
        h2.abstract__title More power behind every pixel!
        .abstract__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing.
        a.abstract__link(href="#") See the options <i class="material-icons">arrow_forward</i>