// Services
section.services
  .services__bg(style="background-image:url('source/components/services/src/services.jpg')")
  .services__container
    .services__content
      h3.services__title Nature from the air
      .services__text Mauris consequat libero metus, nec ultricles sem efficitur quis. Integer bibendum eget metus, cumsan. Integer sit amet lacus egestas, semper est quis, viverra ex.
      .services__box
        .services__item
          .services__number 1
          | Pellentesque eget nunc sit amet urna ullamcorper fermentum et eu leo. Nunc vel nibh tempor, pharetra lectus conque, luctus orci.
        .services__item
          .services__number 2
          | Mauris consequat libero metus, nec ultricies sem efficitur quis. Integer bibendum eget metus ac accumsan.
        .services__item
          .services__number 3
          | Integer sit amet lacus egestas, semper est quis, viverra ex. Mauris consequat libero metus, nec ultricies sem efficitur quis.
        .services__item
          .services__number 4
          | Pellentesque eget nunc sit amet urna ullamcorper fermentum et eu leo. Nunc vel nibh tempor, pharetra lectus congue, luctus orci.
        .services__item
          .services__number 5
          | Mauris consequat libero metus, nec ultricies sem efficitur quis. Integer bibendum eget metus ac accumsan.